@import url('https://fonts.googleapis.com/css?family=Muli:400,800');

* {
  box-sizing: border-box;
  color: rgba(218, 218, 218, 0.822);
  font-family: 'Muli', sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgb(32, 32, 32) 0%, rgb(15, 15, 15) 0%, rgb(77, 76, 76) 0%, rgb(0, 0, 0) 100%);
}

h1 {
  font-size: 3.5em;
  text-align: center;
  text-shadow: 0.1em 0 black;
  display: inline-block;
  margin-left: 15px;
}

#question {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 span {
  color: #ffd93a;
}

.title {
  margin-top: 8%;
  text-align: center;
}

.title img {
  height: 250px;
  width: auto;
}


.game-page {
  text-align: center;
  margin-top: 5%;
} 





/* #start {
  width: 75px;
  height: 45px;
  background: rgba(230, 230, 230, 0.822);
  color: black;
  font-size: 20px;
  transition: ease-in background .2s;
  border: none;
  margin-top: 10%;
}

#start:hover {
  background: #ffd93a;
  border: none;
}

#start:active {
  border: none;
} */


iframe {
  width: 50%;
  height: 280px;
}


.draw-border {
  box-shadow: inset 0 0 0 4px #adadad;
  color: #adadad;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  border-radius: 10px;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-radius: 10px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
  border-radius: 10px;
}

.draw-border:hover {
  color: #ffd93a;
  border-radius: 10px;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #ffd93a;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
  border-radius: 10px;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
  border-radius: 10px;
}

.button{
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 6em;
  letter-spacing: 0.05rem;
  margin: 20px 20px 0 0;
  font-size: 1.15em;
}

.button:focus {
  outline: none;
}

/* .start-page {
  text-align: center;
  margin-top: 150px;
} */

#start {
  cursor: pointer;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  padding: .7em 1.5em;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
}

#start:focus {
  outline: none;
}

